<ul class="pagination" ng-if="1 < pages.length">
    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }" class="pagin">
        <a href="" ng-click="setCurrent(1)"  class="pagin-link">&laquo;</a>
    </li>
    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" class="pagin">
        <a href="" ng-click="setCurrent(pagination.current - 1)" class="pagin-link">‹</a>
    </li>
    <li ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }" class="pagin">
        <a href="" ng-click="setCurrent(pageNumber)"  class="pagin-link">{{ pageNumber }}</a>
    </li>

    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="pagin">
        <a href="" ng-click="setCurrent(pagination.current + 1)" class="pagin-link"></a>
    </li>
    <li ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">
        <a href="" ng-click="setCurrent(pagination.last)" class="pagin-link">&raquo;</a>
    </li>
</ul>